<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Sponsors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/adminDash.css') }}">
</head>

<body>

    <header class="dashboard-header">
        <div class="header-content">
            <div>
                <h1 class="dashboard-name">Manage Reports</h1>
                <p class="tagline">Good Driving. Better Rewards.</p>
            </div>
        </div>
    </header>

    <main class="admin-page">

        <a href="{{ url_for('adminDash') }}" class="back-link">
            Back to Admin Dashboard
        </a>

    </main>

    <footer>

        Good (Truck) Driver Incentive Program &mdash; Fall 2026

    </footer>

</body>
</html>